<style>

  body {
    background-color: #F9F2ED;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    height: 0px;
    width: 7%;
  }
</style>
